.img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    border-radius: 50%;
}

.back {
    background-color: green;
    border-radius: 20px;
    margin: 0.5rem;
}

.float {
    position: fixed;
    bottom: 0rem;
}

.mb-6 {
    margin-bottom: 4rem;
}